################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnumeradorDinamico/.vs/EnumeradorDinamico/v16
